# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter checkpoints
.ipynb_checkpoints/

# MLflow (tracking logs, not needed in repo)
mlruns/
mlartifacts/

# lab_3 dataset large simulation files (not model files)
lab_3/dataset/**/*.GRDECL

# lab_5 downloaded data
lab_5/dataset/
lab_5/results/
lab_3/dataset/**/*.UNRST
lab_3/dataset/**/*.EGRID
lab_3/dataset/**/*.INIT
lab_3/dataset/**/*.RFT
lab_3/dataset/**/*.SMSPEC
lab_3/dataset/**/*.UNSMRY
lab_3/dataset/**/*.DBG
lab_3/dataset/**/*.PRT

# OS files
.DS_Store
Thumbs.db
